body {
    background-color:lightsteelblue;
    color: black;
    font-family: "EB Garamond", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:cornflowerblue;
    color: black;
    font-family: "EB Garamonf", serif;
}